In [14]:
#dictionary
Dict={
    "name":"Gul",
    "cgpa":9.6,
    "marks":[98,97,95]
}
print(Dict)
Dict["grade"]="A"
print(Dict)

{'name': 'Gul', 'cgpa': 9.6, 'marks': [98, 97, 95]}
{'name': 'Gul', 'cgpa': 9.6, 'marks': [98, 97, 95], 'grade': 'A'}

In [13]:
student={
    "name":"Gul",
    "score":{
        "chem":98,
        "phy":97,
        "math":95
    }
}
print(student)
print(student["score"]["math"])
print(student["score"])

{'name': 'Gul', 'score': {'chem': 98, 'phy': 97, 'math': 95}}
95
{'chem': 98, 'phy': 97, 'math': 95}

In [17]:
print(student.keys())
print(list(student.keys()))
print(len(student))

dict_keys(['name', 'score'])
['name', 'score']
2

In [18]:
print(student.values())
print(list(student.values()))

dict_values(['Gul', {'chem': 98, 'phy': 97, 'math': 95}])
['Gul', {'chem': 98, 'phy': 97, 'math': 95}]

In [22]:
print(student.items())
pair=list(student.items())
print(pair)
print(pair[0])
print(pair[1])

dict_items([('name', 'Gul'), ('score', {'chem': 98, 'phy': 97, 'math': 95})])
[('name', 'Gul'), ('score', {'chem': 98, 'phy': 97, 'math': 95})]
('name', 'Gul')
('score', {'chem': 98, 'phy': 97, 'math': 95})

In [24]:
print(student["name"])
print(student.get("name"))
#print(student["name2"]) --> o/p-error
#print(student.get("name2")) --> o/p-none(no-error)

Gul
Gul

In [26]:
stud={
    "name":"Gul",
    "score":{
        "chem":98,
        "phy":97,
        "math":95
    }
}
new={
    "percentage":96.66,
    "grade":"A"
}
stud.update(new)
print(stud)
stud.update({"city":"pune","age":21,"name":"alia"})
print(stud)

{'name': 'Gul', 'score': {'chem': 98, 'phy': 97, 'math': 95}, 'percentage': 96.66, 'grade': 'A'}
{'name': 'alia', 'score': {'chem': 98, 'phy': 97, 'math': 95}, 'percentage': 96.66, 'grade': 'A', 'city': 'pune', 'age': 21}

In [8]:
info={
    "key":"value",
    "name":"python",
    "learning":"coding",
    "age":21,
    "is_adult":True,
    "marks":94.4,
    12:55,
    1.11:"radius",
    "subject":["python","C","java"],
    "topics":("dict","set")
}
print(info)
print(type(info))
print(info["name"])
print(info["topics"])
print(info["subject"])

{'key': 'value', 'name': 'python', 'learning': 'coding', 'age': 21, 'is_adult': True, 'marks': 94.4, 12: 55, 1.11: 'radius', 'subject': ['python', 'C', 'java'], 'topics': ('dict', 'set')}
<class 'dict'>
python
('dict', 'set')
['python', 'C', 'java']

In [9]:
info["name"]="gul"
info["surname"]="sayyed"
print(info)

{'key': 'value', 'name': 'gul', 'learning': 'coding', 'age': 21, 'is_adult': True, 'marks': 94.4, 12: 55, 1.11: 'radius', 'subject': ['python', 'C', 'java'], 'topics': ('dict', 'set'), 'surname': 'sayyed'}

In [10]:
null_dic={}
print(null_dic)

{}

In [29]:
#set
collection={1,2,3,4,"hello","world","world"}
print(collection)
print(type(collection))
print(len(collection))

{1, 2, 3, 4, 'hello', 'world'}
<class 'set'>
6

In [30]:
n={}
print(type(n))
n=set()
print(type(n))

<class 'dict'>
<class 'set'>

In [32]:
collection=set()
collection.add(1)
collection.add(2)
collection.add("Gul")
collection.add((1,2,3))
print(collection)
print(len(collection))

{1, 2, (1, 2, 3), 'Gul'}
4

In [34]:
collection.clear()
print(collection)
print(len(collection))

set()
0

In [37]:
collection={"hello","world","gul","python","code"}
print(collection.pop())
print(collection.pop())

code
world

In [38]:
set1={1,2,3}
set2={2,3,4}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4}
{2, 3}

In [40]:
#1
dictionary={
    "table":["a piece of furniture","list of facts and figures"],
    "cat":"a cute animal"
}
print(dictionary)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a cute animal'}

In [44]:
#2
subjects={
    "python","java","C++","python","javascipt","java","python",
    "java","C++","C"
}
print(subjects)
classroom=len(student)
print("total classroom",classroom)

{'javascipt', 'java', 'python', 'C', 'C++'}
total classroom 5

In [52]:
#3
marks={}
m1=int(input("Enter maths marks:"))
marks.update({"maths":m1})
m2=int(input("Enter phy marks:"))
marks.update({"phy":m2})
m3=int(input("Enter che marks:"))
marks.update({"che":m3})
print(marks)

Enter maths marks: 99
Enter phy marks: 89
Enter che marks: 77

{'maths': 99, 'phy': 89, 'che': 77}

In [54]:
#4
set={9,"9.0"}
print(set)

values={("float",9.0),("int",9)}
print(values)

{9, '9.0'}
{('int', 9), ('float', 9.0)}