In [5]:
#function definition
def sum(a,b):   #parameters             #used to reduce redundency
    return a+b
sum(2,3)    #function call; argument

5

In [6]:
def print_hello(): #parameter are optional
    print("hello")
print_hello()

hello

In [8]:
output=print_hello()
print(output)#because the funt is not returns so the o/p is none

hello
None

In [11]:
#average of three number
def avg_value(a,b,c):
    avg=(a+b+c)/3
    return avg
avg_value(2,4,6)

4.0

In [17]:
#default parameter
def prod(a,b=5):
    return a*b
prod(2)

10

In [20]:
#1
cities=["pune","mumbai","goa","banglore","delhi","hyderabad"]
def print_len(list):
    return len(list)
print_len(cities)

6

In [33]:
#2
cities=["pune","mumbai","goa","banglore","delhi","hyderabad"]
def ele_list(list):
    for i in list:
        print(i,end=" ")
ele_list(cities)

pune mumbai goa banglore delhi hyderabad

In [30]:
#3
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
        i+=1
    return fact
factorial(5)

120

In [35]:
#4
def usd_to_inr(usd):
    inr=usd*84.37
    print("USD:",usd,"\nINR:",inr)
usd_to_inr(5)

USD: 5
INR: 421.85

In [39]:
def odd_even(n):
    if n%2 ==0:
        return "EVEN"
    else:
        return "ODD"
num=int(input("Enter number:"))
odd_even(num)

Enter number: 657

'ODD'

In [43]:
#recursion 
def show(n): #use call stack rule
    if(n==0):
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

In [49]:
#return n!
def fact(n): #n!=(n-1)!*n-->Recurrence relation
    if(n==0):
        return 1
    else:
        return n*fact(n-1)
fact(20)

2432902008176640000

In [59]:
#5
def nat(n):
    if(n==0):
        return 0 
    else:
        return n+nat(n-1) 
nat(5)

15

In [65]:
#6
cities=["pune","mumbai","goa","banglore","delhi","hyderabad"]
def ele_list(list,idx=0):
    if idx==len(list):
        return list[0]
    print(list[idx])
    ele_list(list,idx+1)
ele_list(cities)

pune
mumbai
goa
banglore
delhi
hyderabad