In [1]:
print("hello world")

hello world

In [5]:
name=input("What is your name?\n")
print("Hello " +name)

What is your name?
 gul

Hello gul

In [9]:
old_age=int(input("Enter your age:"))
new_age=old_age+2
print(new_age)
print(float(new_age))

Enter your age: 19

21
21.0

In [12]:
n1=int(input("Enter n1:"))
n2=int(input("Enter n2:"))
sum=n1+n2
print(sum)

Enter n1: 3
Enter n2: 4

7

name="Gulafsha Sayyed")
print(name.upper())

In [4]:
#String operation
name="Gulafsha Sayyed"
print(name.upper())
print(name.lower())
print(name.find('S'))
print(name.find('s'))
print(name.find('Sayyed'))
print(name.find('sayyed'))
print(name.replace("Sayyed","Wonderwomen"))
print('G' in name)
print('z' in name)

GULAFSHA SAYYED
gulafsha sayyed
9
5
9
-1
Gulafsha Wonderwomen
True
False

In [6]:
#arithematic operation
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

7
3
10
2.5
2
1
25

In [7]:
#short cut
i=5
i=i+2
i += 2
i -= 2
i *= 2
print(i)

14

In [8]:
a=2+3/5
print(a)

2.6

In [9]:
#comparison operator
print(3>2)
print(3<2)
print(3<=2)
print(3>=2)
print(3==2)
print(3==3)
print(3!=2)

True
False
False
True
False
True
True

In [10]:
#logical operator
print(2>3 or 2>1)
print(3>2 and 2>6)
print(not 2>3)
print(not 3>2)

True
False
True
False

In [14]:
#if-else
age=int(input("Enter age:"))
if age >= 18:
    print("You are an adult")
    print("you can vote")
elif age < 18 and age >3:
    print("you are in school")
else:
    print("yoi are a child")
print("Thank you")

Enter age: 5

you are in school
Thank you

In [15]:
#calculater[mini project]
n1=int(input("Enter first number:"))
operator=input("Enter operator (+,-,*,/,%):")
n2=int(input("Enter second number:"))

if operator == "+":
    print(n1+n2)
elif operator == "-":
    print(n1-n2)
elif operator == "*":
    print(n1*n2)
elif operator == "/":
    print(n1/n2)
elif operator == "%":
    print(n1%n2)
else:
    print("Invalid operation")

Enter first number: 2
Enter operator (+,-,*,/,%): *
Enter second number: 2

4

In [16]:
#range
n=range(5)
print(n)

range(0, 5)

In [21]:
#While loop
i=1
while i<=5:
    print(i*"*")
    i=i+1
print("\n")
i=5
while i>=0:
    print(i*"*")
    i=i-1

*
**
***
****
*****


*****
****
***
**
*

In [22]:
#for loop
for i in range(5):
    print(i+1)

1
2
3
4
5

In [35]:
#list
marks=[95,90,99]
print(marks)
print(marks[1])
print(marks[-1])
print(marks[0:2])
print(marks[1:3])
print("\n")
for score in marks:
    print(score)
marks.append(92)
print(marks)
marks.insert(0,91)
print(marks)
print(99 in marks)
print(98 in marks)
print(len(marks))

print("\n")
i=0
while i<len(marks):
    print(marks[i])
    i=i+1
marks.clear()
print(marks)

[95, 90, 99]
90
99
[95, 90]
[90, 99]


95
90
99
[95, 90, 99, 92]
[91, 95, 90, 99, 92]
True
False
5


91
95
90
99
92
[]

In [39]:
#break and continue
students=["alia","riya","jia","priya","sia"]
for student in students:
    if student == "priya":
        break
    print(student)
print("\n")
for student in students:
    if student == "priya":
        continue
    print(student)

alia
riya
jia


alia
riya
jia
sia

In [41]:
#tuple
marks=(95,98,97,98,98)
print(marks.count(98))
print(marks.index(97))
person="riya","jia","sia"
print(person)

3
2
('riya', 'jia', 'sia')

In [43]:
#set
marks={95,98,97,98,98}
print(marks)
for score in marks:
    print(score)

{97, 98, 95}
97
98
95

In [45]:
#dictionary
marks={"english":95,"chemistry":98,"maths":99}
print(marks["chemistry"])
marks["physics"]=97
print(marks)
marks["physics"]=96
print(marks)

98
{'english': 95, 'chemistry': 98, 'maths': 99, 'physics': 97}
{'english': 95, 'chemistry': 98, 'maths': 99, 'physics': 96}

In [46]:
#in-build function
#int() str() bool()

In [49]:
#module function
#math module
import math
print(dir(math))
from math import sqrt
print(sqrt(16))
from math import * #'*'import all math function
print(sqrt(16))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
4.0

In [53]:
#user define function
#syntax
#def function_name(parameters):
    #do something
def print_sum(n1,n2):
    print(n1+n2)
print_sum(1,2)
def print_sum(n1,n2=4):
    print(n1+n2)
print_sum(1)

3
5