In [1]:
print("Hello world")

Hello world

In [2]:
name="Gul"
age=21
price=22.22
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
a=2
b=3
sum=a+b
print(sum)

5

In [ ]:
#single line
""" 
multi line
"""

In [4]:
#arrithematic operators
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
3
10
2.5
1
25

In [5]:
#relational operators
a=50
b=20
print(a==b)
print(a!=b)
print(a>=b)
print(a>b)
print(a<=b)
print(a<b)

False
True
True
True
False
False

In [7]:
#assignment operators
n=10
n+=10
print(n)

20

In [8]:
n=0
n-=10
print(n)

0

In [13]:
n=10
n*=5
print(n)

50

In [14]:
n=10
n/=5
print(n)

2.0

In [15]:
n=10
n%=5
print(n)

0

In [16]:
n=10
n**=5
print(n)

100000

In [23]:
#logical operators
a=50
b=30
print("1",not False)
print("2",not (a>b))
print("3",(a==b)or(a>b))
print("4",(a==b)and(a>b))
v1=True
v2=False
print("5",v1 and v2)
v3=True
v4=True
print("6",v3 and v4)
v5=False
v6=False
print("7",v5 and v6)
print("8",v1 or v2)
print("9",v3 or v4)
print("10",v5 or v6)

1 True
2 False
3 True
4 False
5 False
6 True
7 False
8 True
9 True
10 False

In [28]:
#type conversion
a=2
b=4.24
sum=a+b
print(sum)

6.24

In [30]:
#type casting
a="2"
b=4.24
c=int(a)
sum=c+b
print(sum)

6.24

In [ ]:
#int(input())

In [31]:
#1
n1=int(input("Enter 1st number:"))
n2=int(input("Enter 2st number:"))
print("Sum=",n1+n2)

Enter 1st number: 5
Enter 2st number: 6

Sum= 11

In [33]:
#2
a=int(input("Enter side of a square:"))
print("Area of square =",a**2)

Enter side of a square: 10

Area of square = 100

In [36]:
n1=float(input("Enter 1st number:"))
n2=float(input("Enter 2st number:"))
print("Average=",(n1+n2)/2)

Enter 1st number: 5.5
Enter 2st number: 9.12

Average= 7.31

In [37]:
n1=int(input("Enter 1st number:"))
n2=int(input("Enter 2st number:"))
print(n1>=n2)

Enter 1st number: 12
Enter 2st number: 1

True